<style>* {
    margin: 0 auto;
    padding: 0;
}

form,
div {
    background-image: url("images_sub1.jpg");
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    text-align: center;
    margin: 0 auto;
    text-align: left;
    border-color: black;
}

img {
    vertical-align: middle;
    border-style: none;
}

body {
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqYehCew2C0OVGumLP37Oy6f8jIMOBFPab-A&usqp=CAU");
    font-family: sans-serif;
    padding: 2em;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    margin-bottom: 1rem;
    text-align: center;
}

* {
    margin: 0 auto;
    padding: 0;
}

fieldset {
    border: 0;
    margin: 0 auto;
}

body,
input,
select,
textarea,
button {
    font-family: sans-serif;
    font-size: 1em;
    color: black;
}

.grupo:before,
.grupo:after {
    content: " ";
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin: 0 auto;
    margin-bottom: 0.2em;
    color: rgb(0, 0, 0);
    display: block;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    background: rgb(255, 255, 255);
}

.campo label.checkbox {
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-right: 1em;
}

.botao {
    font-size: 1.5em;
    background: rgb(255, 255, 255);
    border: 0;
    margin-bottom: 1em;
    color: rgb(0, 0, 0);
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.botao:hover {
    background: rgb(255, 255, 255);
    box-shadow: inset 2px 2px 2px rgb(255, 255, 255);
    text-shadow: none;
}

.botao,
select,
label.checkbox {
    cursor: pointer;
}

</style>